@import "bootstrap-sprockets";
@import "bootstrap";


section 
{
  overflow: auto;
}

textarea 
{
  resize: vertical;
}

.center 
{
  text-align: center;
    h1 {
      margin-bottom: 10px;
    }
}


h1, h2, h3, h4, h5, h6 
{
  line-height: 1;
}

h1 
{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
 
}

h2 
{
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p 
{
  font-size: 1.1em;
  line-height: 1.7em;
}

td
{
  padding: 5px;
}


#banner
{
  width: 100%;
  height: 350px;
  opacity: 0.9;
}
#logo 
{
    position: absolute;
  	top: 300px;
  	right: 50px;
    text-decoration: none;
    text-shadow: 4px 4px 8px #ffffff;
    font-size: 2em;
    font-family: Impact;
    font-weight: bold;
    font-style: none;
    color: #003300;
}

.zdjecie
{
   float: right;
   
   height:300px;
}


footer 
{
 
  padding-top: 5px;
  padding-left: 10px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

