
 <h2><%= @category.cat %></h2>
 <p>
  <strong>Opis:</strong>
  <%= @category.description %>
</p>
 
  <% @category.plants.each do |plant|%>
  <p>
   <strong>Rośliny:</strong>
  <%= @category.plant.name %>
</p>
<% end %>


<%= link_to 'Back', categories_path %>