      <div class="jumbotron">
        <h1>Informacje</h1>
        <p>Stronę tworzy Hanna Buczyńska na podstawie własnych doswiadczeń i kilku ksiażek.</p>
        
      </div>

    </div> <!-- /container -->

 